/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}

.navbar {
  background-color: #007bff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ffdd57;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100%; /* Adjust the size as needed */
  height: auto;
  max-width: 50vh; /* Adjust the size as needed */
}

@media (min-width: 768px) {
  .container {
    min-height: auto;
    height: auto;
  }

  .logo {
    max-width: auto; /* Adjust the size as needed */
  }
}
